<%= render 'lottery/search_panel' %>
<%if @winner %>
    <h3>Победитель:</h3>
    <p><%= @winner[0]['first_name'] %></p>
    <p><%= @winner[0]['last_name'] %></p>
    <%= image_tag @winner[0]['photo_100'] %>
    <%= link_to "VK", " http://www.vk.com/"+@winner[0]['screen_name'] %>
<% else %>
    <h4>Записи не найдены. Это нормально, скорее всего вк просто их не отдает. На всякий случай, проверьте хештег</h4>
<% end %>
<% if !@users.empty? %>
    <h3>Участники: </h3>
    <table class="table table-bordered">
      <tbody>
      <% @users.each_with_index do |user, index| %>
          <tr>
            <td>
              <%= index + 1 %>
            </td>
            <td>
              <%= user['first_name'] %>
            </td>
            <td>
            <%= user['last_name'] %>
            </td>
            <td>
            <%= user['screen_name'] %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <% end %>

